<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../setups/head") %>
</head>

<body>
  <%- include("../components/navbar") %>

  <section id="home-content" class="container">
    <div class="my-5">
      <div class="align-items-center d-flex justify-content-between mt-5 mb-5">
        <h3>About</h3>
      </div>
      <div>
        <p>
          A good shoe store can be a valuable resource for anyone looking to
          find high-quality and comfortable footwear. A good shoe store will
          have a wide variety of shoes in different styles and sizes to fit
          the needs of all customers.
        </p>
        <p>
          The staff at a good shoe store should be knowledgeable and helpful,
          able to provide guidance and recommendations for customers looking
          for a specific type of shoe or dealing with a particular foot
          condition.
        </p>
        <p>
          A reputable shoe store may also offer additional services like
          custom fittings, special orders for hard-to-find sizes or styles,
          and even repairs or maintenance for customers' existing footwear.
          Overall, a good shoe store can be an important partner in helping
          customers find shoes that fit well, look good, and support their
          foot health and comfort.
        </p>
        <p class="mt-5">
          <small>Bali Dev Camp@2023</small>
        </p>
      </div>
    </div>
  </section>

  <%- include("../setups/script") %>
</body>

</html>