<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../setups/head") %>
</head>

<body>
  <%- include("../components/navbar") %>

    <section id="home-content" class="container">
      <div class="d-flex flex-column justify-content-center align-items-center mt-5">
        <p class="h2">Welcome to Shoe Store</p>
      </div>
    </section>
</body>

</html>